
<div class="row" style="margin-top:30px;">  
    <div class="col-12 col-sm-6 col-md-8">
        <h2 style="color:#009988">About Me</h2>
        
        <div class="mb-3">
            <span class="float-right"><img src="https://pbs.twimg.com/profile_images/1006996145212551169/HaqpwHNY_400x400.jpg" width="100" height="100"></span>
            <strong>Master's student at USC Viterbi</strong>    
            <p>I am a Graduate student at University of Southern California. My Coursework includes: Analysis of Algorithms, Foundations of Artificial Intelligence, Advanced Mobile Devices and Game Consoles, Database systems and Applied Machine Learning for Games.</p>    
        </div>

        <div class="mb-3">
                <span class="float-right"><img src="http://i1.sndcdn.com/avatars-000376006379-82tz06-original.jpg" width="100" height="100"></span>    
                <strong>Professional Experience</strong>
                <p>I’ve worked as Systems Engineer for almost two and half years at Infosys Limited, Pune. I worked as a Full stack developer (MEAN Stack) for “Metro Cash and Carry” client based in Dusseldorf, Germany. I was in the offshore core development team and enhanced the existing application functionalities. The client provided me with their requirement details upon which my job was to analyze the same and implement the tasks accordingly. I also used APIs to interact with databases and visualize data in plots using D3.js</p>    
        </div>
 
    </div>
    
      
      <div class="col-12 col-sm-6 col-md-4">
            <h2 style="color:#009988">Expertise</h2>
        <div class="mb-3">
          <strong>Angular8</strong>
          <span  class="float-right"> 90%</span>
          <mat-progress-bar value=90 style="color:blue"></mat-progress-bar>
        </div>
    
    
    
    
        <div class="mb-3">
            <strong>NodeJS</strong>
            <span  class="float-right"> 80%</span>
            <mat-progress-bar value=80 style="color:blue"></mat-progress-bar>
          </div>
    
        
          <div class="mb-3">
              <strong>JavaScript</strong>
              <span class="float-right">80%</span>
              <mat-progress-bar value=80 style="color:blue"></mat-progress-bar>
          </div> 
          
          <div class="mb-3">
                <strong>Python</strong>
                <span  class="float-right"> 80%</span>
                <mat-progress-bar value=80 style="color:blue"></mat-progress-bar>
            </div>

          <div class="mb-3">
                <strong>Game Development</strong>
                <span class="float-right">70%</span>
                <mat-progress-bar value=70 color="accent"></mat-progress-bar>
            </div> 
          
            <div class="mb-3">
                    <strong>D3.js</strong>
                    <span class="float-right">70%</span>
                    <mat-progress-bar value=70 color="accent"></mat-progress-bar>
                </div> 

          <div class="mb-3">
              <strong>ReactJS</strong>
              <span  class="float-right"> 60%</span>
              <mat-progress-bar value=60 color="warn"></mat-progress-bar>
          </div>

            
          <div class="mb-3">
                <strong>C#</strong>
                <span  class="float-right"> 50%</span>
                <mat-progress-bar value=60 color="warn"></mat-progress-bar>
            </div>
      </div>
    </div>
    
    <hr>
    <div style="margin-top:30px;">
            <h2 style="color:#009988">Certifications and Projects</h2>
          <br>
              <div class="row">
          
          <div class="col-3"><i class="fas fa-certificate fa-10x certificate-color"></i></div>
          <div class="col-9">
            <h4>Udemy Courses</h4>
            <p> Full stack Development Course (MEAN Stack Guide), Issued date: Aug 2019 <br>  
                <a mat-stroked-button href="https://www.udemy.com/certificate/UC-JQRZTCJU/">Full Stack  Credential</a><br><br>
                Mastering Data Visualization in D3.js, Issue date: Aug 2019<br>
                <a mat-stroked-button href="https://www.udemy.com/certificate/UC-FOSSVP49/">Data Visualization Credential</a></p>
        </div>
    </div>
        

<div class="row" style="margin-top:20px;">
    <div class="col-9">
            <h4>Game Development in Unity Engine</h4>
            <p>
                  Mobile Game Developed in Unity Game Engine (C#). I’ve built an android game on Unity game 
                  Engine as part of Mobile Game development course. This app is a 2D shooting game build using C#. 
                  Goal of the game is to kill several kinds of enemies using 
                  different weapons using Strategy.<br><br>    
                <a mat-stroked-button href="https://www.youtube.com/watch?v=G_qf_O6IhAw">Youtube Link</a></p>
        </div>
    <div class="col-3"><i class="fas fa-gamepad fa-10x "></i></div>
    
</div>
    
        
    
    
    <hr>
    
    
    <!--SKillls-->
    <div style="margin-top:30px;">
        <h2 style="color:#009988">Technologies Used in Blog</h2>
      <br>
          <div class="row">
      
      <div class="col-3"><i class="fab fa-node fa-10x node-color"></i></div>
      <div class="col-9">
        <h4>Node.js</h4>
        <p>The backend of this project is on Node.js. It's a JavaScript Library. Using node, RESTful APIs have been created. Various API end points are created and Angular service hits them when an HTTP method is called.</p>
        <a mat-stroked-button href="https://nodejs.org/en/about/">View More</a>
    </div>
    </div>
    </div>
    
    
    <div>
        <div class="row mt-5">
          <div class="col-9">
            <h4>Angular</h4>
            <p>Front End of this website is on Angular 8. Angular 8 is the most recent Angular version from Google.
                 I've implemented pagination, JWT Authentication, Routing and implemented AuthGuards!</p>
                 <a mat-stroked-button href="https://angular.io/">View More</a>
          </div>
          
          <div class="col-3">
              <i class="fab fa-angular fa-10x angular-color"></i>
          </div>
        </div>
        </div>
    
    
        <div>
            <div class="row mt-5">
              <div class="col-3"><i class="fas fa-database fa-10x mongodb-color"></i></div>
              <div class="col-9">
                <h4>MongoDB</h4>
                <p>MongoDb Atlas stores user information and the posts they create. Mongo DB is no SQL database and extensively used nowadays.</p>
                <a mat-stroked-button href="https://www.mongodb.com/cloud/atlas">View More</a>
              </div>
            </div>
            </div>
                
        
    <div>
            <div class="row mt-5">
              <div class="col-9">
                <h4>Angular Material and Bootstrap</h4>
                <p>Extensively used Bootstrap and Google's angular material to design forms and components.</p>
                <a mat-stroked-button href="https://material.angular.io/">View More</a>
              </div>
              
              <div class="col-3">
                  <i class="fab fa-bootstrap fa-10x bootstrap-color"></i>
              </div>
            </div>
    </div>
    
<hr>
            <div>
                <div class="col-12">
                    <h3 style="color:#009988">Improving upon!</h3>
                </div>
            </div>
            <br>
            <div class="row">
               <div class="col" align="center" style="font-size:15px">Docker<img class="img-fluid" src="https://miro.medium.com/max/1326/1*JAJ910fg52ODIRZjHXASBQ.png" alt="app1"></div>
               <div class="col" align="center" style="font-size:15px">AWS<img class="img-fluid" src="https://blog.scottlogic.com/dsmith/assets/featured/aws-logo.png" alt="app2"></div>
                <div class="col" align="center" style="font-size:15px">React<img class="img-fluid" src="https://miro.medium.com/max/1200/1*y6C4nSvy2Woe0m7bWEn4BA.png" alt="app3"></div>
               <div class="col" align="center" style="font-size:15px">D3<img class="img-fluid" src="https://avatars3.githubusercontent.com/u/1562726?s=400&v=4" alt="app4"></div>
                <div class="col" align="center" style="font-size:15px">Game Development<img class="img-fluid" src="https://unity3d.com/files/images/ogimg.jpg" alt="app5"></div>
               <div class="col" align="center" style="font-size:15px">Open AI<img class="img-fluid" src="https://openai.com/content/images/2019/05/openai-twitter@2x.png" alt="app6"></div>
            </div>


